<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Paper Boat Wars - Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../web/styles/redBoat.png">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles/game.css">
</head>

<body>
    <!-- Here is Vue! -->
    <div id="shipGrid">
        <div class="container">
            <!-- Main title -->
            <div class="title">
                <div>
                    <img id="movingBoat" src="../web/styles/orangeBoat.png">
                </div>
                <div>
                    <a href="/web/games.html"><button type="button" id="back" class="btn">Back to Games</button></a>
                </div>
            </div>
            <!-- The tables -->
            <div class="flexTables">
                <!-- Table 1 - You -->
                <div>
                    <h2>{{gamePlayer1}} (you)</h2>
                    <table id="grid">
                        <tr v-for="letter,i in letters">
                            <td v-for="number,j in numbers" v-if="i==0 || j ==0" v-bind:id="letter + number">
                                <span v-if="i==0 || j ==0">
                                    {{letter + number}}
                                </span>
                            </td>
                            <td v-else v-bind:id="letter + number" @mouseover="shipHover()" @mouseleave="shipClean()"
                                @click="storeShipLocation()">

                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div class="boats" v-if="showButtons">
                        <div class="row">
                            <button @click="itsHorizontal()" class="btn direction" type="button"><i class="fas fa-arrows-alt-h"></i></button>
                            <button @click="itsVertical()" class="btn direction" type="button"><i class="fas fa-arrows-alt-v"></i></button>
                        </div>
                        <button id="yellowBtn" type="button" class="btn" @click="getShipLengthYellow()">Yellow Paper
                            Boats</button>
                        <button id="orangeBtn" type="button" class="btn" @click="getShipLengthOrange()">Orange Paper
                            Boats</button>
                        <button id="redBtn" type="button" class="btn" @click="getShipLengthRed()">Red Paper Boats</button>
                        <button id="blueBtn" type="button" class="btn" @click="getShipLengthBlue()">Blue Paper Boats</button>
                        <button id="greenBtn" type="button" class="btn" @click="getShipLengthGreen()">Green Paper Boats</button>
                        <button v-if="allTheShips" id="sendBoats" class="btn" @click="getShips()">Send Paper Boats</button>
                    </div>
                    <!-- Table 2 - Opponent -->
                    <div class="boats" id="salvos" v-else>
                        <img  id="fire1" src="styles/match.png" @click="callSalvos1()">
                        <img id="fire2" src="styles/match.png" @click="callSalvos2()">
                        <img  id="fire3" src="styles/match.png" @click="callSalvos3()">
                        <button  @click="postSalvos()" id="sendSalvos" class="btn">Send Matches</button>
                
                </div>
                </div>
                <div>
                    <h2> {{gamePlayer2}}</h2>
                    <div class="flexBoats">
                        <div>
                            <table id="grid2">
                                <tr v-for="letter,i in letters">
                                    <td v-for="number,j in numbers" v-if="i==0 || j ==0" v-bind:id="letter + number + 's'">
                                        <span v-if="i==0 || j ==0">
                                            {{letter + number}}
                                        </span>
                                    </td>
                                    <td v-else v-bind:id="letter + number + 's'" @mouseover="makeSalvosHover()"
                                        @mouseleave="salvoClean()" @click="salvoStay()">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="scripts/game.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>