<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Paper Boat Wars - Games</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../web/styles/redBoat.png">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="styles/games.css">
</head>

<body>
    <!-- Here is Vue! -->
    <div id="myVue">
        <div class="container">
            <!-- Main title and Boat -->
            <div class="flexTitle">
                <div>
                    <img id="boatSwing" src="../web/styles/orangeBoat.png">
                </div>
                <div>
                    <h1>Paper Boat Wars</h1>
                    <h5>Welcome {{users}}!</h5>
                </div>
                <div>
                    <button type="button" id="logOutbtn" class="btn" v-on:click="logOut()">Log Out</button>
                </div>
            </div>
            <!-- The tables -->
            <div class="flexTables">
                <!-- Table 1 - Games -->
                <div class="table1">
                    <div class="createNew">
                        <div class="center">
                            <h2>Games</h2>
                        </div>
                        <div v-on:click="createNewGame()" class="right">
                           <button id="newGame" class="btn">New Game</button>
                        </div>
                    </div>
                    <table>
                        <thead class="thead">
                            <tr>
                                <td>Game Nr</td>
                                <td>Date</td>
                                <td>Player 1</td>
                                <td>Player 2</td>
                                <td>Options</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="game in games.games">
                                <td>{{game.id}}</td>
                                <td>{{getDates(game.created)}}</td>
                                <td v-for="gamePlayer in game.gamePlayers" v-if="game.gamePlayers.length == 2">{{gamePlayer.player.userName}}</td>
                                <td v-if="game.gamePlayers.length == 1">{{game.gamePlayers[0].player.userName}}</td>
                                <td v-if="game.gamePlayers.length == 1">Waiting for opponent</td>
                                <td v-if="game.gamePlayers.length == 2 && (game.gamePlayers[0].player.userName != users && game.gamePlayers[1].player.userName != users)">
                                    <p>Full</p>
                                </td>
                                <td v-if="game.gamePlayers.length == 2 && (game.gamePlayers[0].player.userName == users || game.gamePlayers[1].player.userName == users)">
                                    <a v-bind:href="'game.html?gp='+getGameView(game.gamePlayers)"><button class="btn">Play</button></a>
                                </td>
                                <td v-if="game.gamePlayers.length == 1 && (game.gamePlayers[0].player.userName != users)">
                                    <button @click="joinGame(game.id)" class="btn">Join</button>
                                </td>
                                <td v-if="game.gamePlayers.length == 1 && (game.gamePlayers[0].player.userName == users)">
                                    <a v-bind:href="'game.html?gp='+game.gamePlayers[0].id"><button class="btn">Enter</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Table 2 - Leaderboard -->
                <div class="table2">
                    <h2 id="leaderboard">Leaderboard</h2>
                    <table>
                        <thead class="thead">
                            <tr>
                                <td>Player Name</td>
                                <td>Wins</td>
                                <td>Losses</td>
                                <td>Ties</td>
                                <td>Total Score</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(score, index) in scores">
                                <td>{{index}}</td>
                                <td>{{score.wins}}</td>
                                <td>{{score.losses}}</td>
                                <td>{{score.ties}}</td>
                                <td>{{score.TotalScore}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="scripts/games.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>