body {
  background-image: linear-gradient(0deg, #022244, #58c8da);
  margin: 0;
  font-family: 'Staatliches', cursive;
  background-repeat: no-repeat;
}

/* Title */
.title {
  display: block;
}

#movingBoat {
  float: left;
  width: 150px;
  animation: swing 3s infinite ease;
  text-align: center;
  transform-origin: bottom center;
  border-radius: 100%;
  padding: 20px;
  padding-top: 0px;
}

@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

#back {
  margin-right: 30px;
  float: right;
  margin-top: 30px;
  color: whitesmoke;
  background-color: brown;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Game Players Names */
h2 {
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px#cec9c9;
  color: brown;
}

/* Tables */
table {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 14px;
  color: #2E2E2E;
  text-shadow: none;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
}


.flexTables {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: -20px;
}

.fire,
.water {
  width:25px;
  height: 28px;
  align-self: center;
  padding: 0px;
  margin: 0px;
}

.boats {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 50px;
  border-radius: 2px;
}

.btn:hover {
  background-color: brown;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  width: 130px;
  height: 38px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sendBoats {
  background-color: brown;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.direction {
  width: 30px;
  margin-right: 10px;
  margin-top: -1px;
}

#yellowBtn img, #orangeBtn img, #redBtn img, #blueBtn img, #greenBtn img{
  width: 36px;
  transition: transform .2s;
}

#yellowBtn:hover, #orangeBtn:hover, #redBtn:hover, #blueBtn:hover, #greenBtn:hover{
  transform: scale(1.1);
}

#match1, #match2, #match3, #match4{
  width: 36px;
  transition: transform .2s;
  margin-left: 45px;
}

#match2, #match3, #match4{
  display: none;
}

#match1:hover, #match2:hover, #match3:hover, #match4:hover{
  transform: scale(1.1);
}

.yellow,
.yellow2 {
  background-image: url("yellowBoat.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.orange,
.orange2 {
  background-image: url("orangeBoat.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.red,
.red2 {
  background-image: url("redBoat.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.blue,
.blue2 {
  background-image: url("blueBoat.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.green,
.green2 {
  background-image: url("greenBoat.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* #match1, #match2, #match3{
  width: 40px;
  border: none;

} */

.salvoMatch, .salvoMatch2{
  background-image: url("match.png"); 
  background-size: contain;
  background-repeat: no-repeat;
}

td {
  width: 36px;
  height: 38px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 1px solid grey;
}

.black{
  background-color: black;
}