body {
  background-image: linear-gradient(0deg, #022244, #58c8da);
  margin: 0;
  font-family: 'Staatliches', cursive;
  background-repeat: no-repeat;
}

/* Title */
.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#back {
  margin-top: 30px;
  margin-bottom: 30px;
  color: whitesmoke;
  background-color: brown;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Game Players Names */
h2 {
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px#cec9c9;
  color: brown;
}

/* Tables */
table {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 14px;
  color: #2E2E2E;
  text-shadow: none;
  margin-top: 10px;
  border-collapse: collapse;
  margin-bottom: 100px;

  background-color: whitesmoke;
}

td {
  width: 41px;
  height: 41px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 1px solid #2E2E2E;

}

.flexTables {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}



/* FIX THIS!!! */
.ships.enemySalvoes {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.ships {
  background-color:brown;

}

.salvoes {
  background-color: black;
  width: 30px;
  height: 30px;
}

.enemySalvoes {
  background-color: black;
}

.fire,
.water {
  width: 30px;
  height: 30px;
  align-self: center;
}

.yellowBoat {
  /* position: absolute; */
  width: 35px;
  height: 40px;
}

.yellowBoat2 {
  /* position: absolute; */
  width: 70px;
  height: 30px;
}


.orangeBoat {
  width: 35px;
  height: 40px;
}

.redBoat,
.blueBoat {
  width: 35px;
  height: 40px;
}

.greenBoat {
  width: 35px;
  height: 40px;
}



.boats {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 30px;
  /* background-color: whitesmoke;
  height: 300px; */
}

.btn:hover {
  background-color: brown;
  color: whitesmoke;
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;

}

.column {
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.btn {
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  width: 120px;
  height: 38px;
}

#fire {
  width: 50px;
  height: 38px;
}

/* td .ships{
  background-image: url("styles/yellowBoat.png")
} */

.boatShip{
 
  width: 35px;
  height: 40px;
/* display: none; */
}