body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(0deg, #022244, #58c8da);
  margin: 0;
  font-family: 'Staatliches', cursive;
}

/* Main Title */
h1 {
  text-align: center;
  color: brown;
  font-size: 80px;
  text-shadow: 2px 2px 4px#cec9c9;
  margin-bottom: 20px;
}

/* Flex for Title and Registration Box */
.flexTitleReg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Registration Box */
.registration {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  height: 300px;
}

.registration input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 200px;
}

.flexReg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#titleSignup,
#username,
#buttonSignup,
#question2 {
  display: none;
}

#question button {
  background-color: whitesmoke;
  margin-top: 10px;
}

#question button:hover {
  color: brown;
}

#login {
  margin-top: 20px;
}


#btnlogin:hover,
#btnsignup:hover {
  background-color: brown;
  color: whitesmoke;
}

#question2 button {
  background-color: whitesmoke;
  margin-top: 5px;
}

#question2 button:hover {
  color: brown;
}

/* Ocean Animation */
.ocean {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ocean::after,
.ocean::before {
  background-color: #35859D;
  width: 150%;
  height: 100px;
  position: absolute;
  content: '';
  top: 85px;
  left: -20%;
  border-radius: 100%;
  animation: waves 10s ease infinite;

}

.ocean::before {
  background-color: whitesmoke;
  top: 95px;
  animation-delay: 5s;
  opacity: 0.5;
}

@keyframes waves {

  0%,
  100% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

/* Boat 1 Animation*/
.boat1 {
  width: 150px;
  height: 150px;
  content: '';
  position: absolute;
  top: -20%;
  left: 50%;
  animation: boat1 43s ease-in infinite;
}

@keyframes boat1 {
  0% {
    left: calc(100% + 30px);
    top: 78%;
  }

  50% {
    top: 76%
  }

  100% {
    left: -20%;
    top: 78%;
  }
}

/* Boat 2 Animation*/
.boat2 {
  width: 150px;
  height: 150px;
  content: '';
  position: absolute;
  top: -20%;
  left: 50%;
  animation: boat2 33s ease-in infinite;
}

@keyframes boat2 {
  0% {
    left: calc(100% + 30px);
    top: 78%;
  }

  50% {
    top: 76%
  }

  100% {
    left: -20%;
    top: 78%;
  }
}

/* Boat 3 Animation*/
.boat3 {
  width: 150px;
  height: 150px;
  content: '';
  position: absolute;
  top: -20%;
  left: 50%;
  animation: boat3 23s ease-in infinite;
}

@keyframes boat3 {
  0% {
    left: calc(100% + 30px);
    top: 78%;
  }

  50% {
    top: 76%
  }

  100% {
    left: -20%;
    top: 78%;
  }
}